@import 'navbar';
@import 'colors';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'kumbh Sans', sans-serif;
}

.hero {
    background-color: $light;

    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
        margin: 0 auto;
        height: 100%;
        z-index: 1;
        width: 100%;
        max-width: 1200px;
        padding-right: 24px;
        padding-left: 24px;
    }

    @include tablet {
        grid-template-columns: 1fr;
        height: 100%;
    }

    &--left{
        width: 100%;
        line-height: 1.2;

        @include tablet{
            padding: 5rem 0;
        }

        @include mobile{
            line-height: 1.5;
        }
    }


    

}